<div id = "taskDetails" [ngClass] = "isTaskOpen ? 'taskDetails' : 'displayNone'">
    <div class = "taskDetailsContainer">
        <div class = "taskDetailsContent">
            <div class = "taskHeader">
                <div class = "checkBox">
                    <input type="checkbox" id="checkbox" [checked]="activeTask.isFinished ? 'checked' : null"
                            (click) = "toggleActiveTaskFinished()"/>
                    <label for="checkbox"></label>
                </div>
                <div class = "taskTitleInRightPanel bold">
                    <span id = "taskName" [ngClass] = "activeTask.isFinished ? 'finished' : ''">
                        {{activeTask.name}}
                    </span>
                </div>
            </div>
            <div id = "stepsContainer" *ngFor = "let step of activeTask.steps">
                <div class = "step">
                    <div class = checkBox>
                        <input type = "checkbox" id = "{{step.id}}" [checked]="step.isFinished ? 'checked' : null"
                                (click) = "toggleStepFinished(step)"/>
                        <label for = "{{step.id}}"></label>
                    </div>
                    <div class = "stepTitle">
                        <span [ngClass] = "step.isFinished ? 'finished' : ''">{{step.name}}</span>
                        <span class = "deletion" (click) = "deleteStep(step)">x</span>
                    </div>
                </div>
            </div>
            <div class = "addStep">
                <button><label for = "stepInput"><i class = "fa fa-plus"></i></label></button>
                <input id = "stepInput" #stepInput type = "text" placeholder = "Add Step"
                        (keydown.enter) = "createStepByName(stepInput)"/>
            </div>
        </div>
        <div class = "addMyDay">
            <div class = "rightContainerAddMyDay">
                <i class = "fa fa-sun-o"></i>
                <div>
                    <span>Add to My Day</span>
                </div>
            </div>
        </div>
        <div class = "rightPanelContent">
            <div class = "rightContainer">
                <div class = "rightSubContainer">
                    <i class="fa fa-clock-o"></i>
                    <div class = "rightSubContainerTitle">
                       <span>Remind Me</span>
                    </div>
                </div>
                <div class = "rightSubContainer">
                    <i class = "fa fa-calendar"></i>
                    <div class = "rightSubContainerTitle">
                       <span>Add due Date</span>
                    </div>
                </div>
                <div class = "rightSubContainer">
                    <i class="fa fa-repeat"></i>
                    <div class = "rightSubContainerTitle">
                       <span>Repeat</span>
                    </div>
                </div>
            </div>
        </div>
        <div class = "addFile taskTitle">
            <i class="fa fa-paperclip"></i>
            <div>
                <span>Add File</span>
            </div>
        </div>
    </div>
</div>
