<div class = "toDoList" oncontextmenu = "return false;">
    <div class = "taskHeaderContainer">
        <div class = "taskHeader">
            <h2>
                <input class = "listTitle" type = text value = "{{activeList.name}}"
                        #updatedListinput (keydown.enter) = "updateList(updatedListinput)"/>
            </h2>
        </div>
    </div>
    <div class = "tasksContainer">
        <div class = "tasks" *ngFor = "let task of activeList.tasks" (click) = "activateTask(task)"
                (contextmenu) = "showTaskContextMenu($event, task)">
            <div class = "checkBox">
                <input id = "{{task.id}}" type = "checkbox" class = "checkbox"
                        (click) = "toggleTaskFinished(task)" [checked]="task.isFinished ? 'checked' : null"/>
                <label for = "{{task.id}}"></label>
            </div>
            <div class = taskTitle>
                <span class = "taskName" [ngClass] = "task.isFinished ? 'finished' : ''">{{task.name}}</span>
                <span *ngIf = "task.steps.length > 0" class = "stepsCount">
                    {{getFinishedStepsCount(task.steps)}} of {{task.steps.length}}
                </span>
            </div>
        </div>
    </div>
    <div class = "addTask">
        <button><label for = "taskInput"><i class = "fa fa-plus"></i></label></button>
        <input id = "taskInput" type = "text" placeholder = "Add Task"
            #taskInput (keydown.enter) = "createTaskByName(taskInput)"/>
    </div>
    
    <div id = "listTasks">
    <hr>
    </div>
    <div class = "lines"></div>
</div>
<div *ngIf = "contextTaskMenu" class = "contextMenuStyle" [ngStyle]="{'left.px': contextMenuX, 'top.px': contextMenuY}"
        (click) = "deleteTask($event)">
    <div>
        <span><i class="fa fa-trash-o"></i></span>
        <span>Delete Task</span>
    </div>
</div>
