<div class = "leftPanel">
    <div class = "leftPanelMenu">
        <button id = "sideBarButton"><i class = "fa fa-bars"></i></button>
    </div>
    <div id = "sideMenu" class = "leftPanelContainer">
        <div class = "leftPanelContent">
            <i class = "fa fa-sun-o"></i>
            <div class = "leftPanelTitle">
               <span>My Day</span>
            </div>
        </div>
        <div class = "leftPanelContent">
            <i class = "fa fa-star"></i>
            <div class = "leftPanelTitle">
                <span>Important</span>
            </div>
        </div>
        <div class = "leftPanelContent">
            <i class = "fa fa-calendar"></i>
            <div class = "leftPanelTitle">
               <span>Planned</span>
            </div>
        </div>
        <div class = "leftPanelContent">
            <i class = "fa fa-user"></i>
            <div class = "leftPanelTitle">
               <span>Assigned to Me</span>
            </div>
        </div>
        <div class = "leftPanelContent">
            <i class = "fa fa-home"></i>
            <div class = "leftPanelTitle">
               <span>Tasks</span>
            </div>
        </div>
        <div id = "sideList"></div>
    </div>
    <div class = "leftPanelContent listInput">
        <label><i class = "fa fa-plus"></i>
            <input id = "listInput" type = "text" placeholder = "New list"/>
        </label>
    </div>
</div>
