<div class = "leftPanel" (click) = "disableListContextMenu()">
    <div class = "leftPanelMenu">
        <button id = "sideBarButton" (click) = "sidePanelToggleOperation()">
            <i class = "fa fa-bars"></i>
        </button>
    </div>
    <div id = "sideMenu" [ngClass] = "isSideMenuOpened ? 'leftPanelContainer' : 'closeLeftPanelContainer'">
        <div class = "leftPanelContent">
            <i class = "fa fa-sun-o"></i>
            <div [ngClass] = "isSideMenuOpened ? 'leftPanelTitle' : 'displayNone'">
               <span>My Day</span>
            </div>
        </div>
        <div class = "leftPanelContent">
            <i class = "fa fa-star"></i>
            <div [ngClass] = "isSideMenuOpened ? 'leftPanelTitle' : 'displayNone'">
                <span>Important</span>
            </div>
        </div>
        <div class = "leftPanelContent">
            <i class = "fa fa-calendar"></i>
            <div [ngClass] = "isSideMenuOpened ? 'leftPanelTitle' : 'displayNone'">
               <span>Planned</span>
            </div>
        </div>
        <div class = "leftPanelContent">
            <i class = "fa fa-user"></i>
            <div [ngClass] = "isSideMenuOpened ? 'leftPanelTitle' : 'displayNone'">
               <span>Assigned to Me</span>
            </div>
        </div>
        <div class = "leftPanelContent" (click) = "changeDefaultListAsActive()">
            <i class = "fa fa-home"></i>
            <div [ngClass] = "isSideMenuOpened ? 'leftPanelTitle' : 'displayNone'">
               <span>{{defaultList.name}}</span>
            </div>
        </div>
        <div id = "sideList">
            <div class = "leftPanelContent" *ngFor = "let list of toDoList" (click) = "activateList(list)"
                    (contextmenu) = "showListContextMenu($event, list)" oncontextmenu = "return false;">
                <i class = "fa fa-list"></i>
                <div [ngClass] = "isSideMenuOpened ? 'leftPanelTitle blue bold' : 'displayNone'">
                    <span>{{list.name}}</span>
                    <span class = "taskCount" *ngIf = "list.tasks.length > 0">{{list.tasks.length}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class = "leftPanelContent listInput">
        <label (click) = "openSideMenu()"><i class = "fa fa-plus"></i>
            <input [ngClass] = "isSideMenuOpened ? '' : 'displayNone'" id = "listInput" type = "text"
                    #listInput (keydown.enter) = "createListByName(listInput)" placeholder = "New list"/>
        </label>
    </div>
</div>
<div *ngIf = "contextListMenu" class = "contextMenuStyle" [ngStyle]="{'left.px': contextMenuX, 'top.px': contextMenuY}"
        (click) = "deleteList($event)">
    <div>
        <span><i class="fa fa-trash-o"></i></span>
        <span>Delete list</span>
    </div>
</div>
