.header {
	height: 6.4%;
	background: #346fef;
	position: relative;
}

.appName {
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	padding: 0px 19px;
	font-size: 1.4rem;
	height: 100%;
	line-height: 48px;
}
